{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{ profit_chart_labels_json|json_script:"profit-labels" }}
{{ profit_chart_values_json|json_script:"profit-values" }}

<script>
const profitLabels = JSON.parse(
    document.getElementById('profit-labels').textContent
);

const profitValues = JSON.parse(
    document.getElementById('profit-values').textContent
);

new Chart(document.getElementById("profitChart"), {
    type: "bar",
    data: {
        labels: profitLabels,
        datasets: [{
            label: "صافي الربح",
            data: profitValues,
            backgroundColor: "#0d6efd"
        }]
    }
});
</script>
{% endblock %}